/* converter.css */
.cov_con {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.in_cov {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px;
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.con_button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.con_button:hover {
    background-color: #45a049;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }

    div {
        padding: 20px;
    }

    input, select, button {
        font-size: 0.9rem;
    }

    p {
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.2em;
    }

    input, select, button {
        font-size: 0.85rem;
    }

    p {
        font-size: 1em;
    }
}
